.fieldset {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.split {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  .fieldset {
    margin-top: 0;
    width: 45%;
  }
}

h2 {
  color: #9fa6b6;
  font-weight: normal;
  margin-top: 32px;
}

label {
  color: #9fa6b6;
}

input {
  background: darken(#313743, 5%);
  border: 0;
  box-shadow: 0 1px lighten(#313743, 10%);
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  margin-top: 2px;
  padding: 4px;
  width: 100%;
}

input[type="submit"] {
  background: #5c677e;
  border: 0;
  border-radius: 32px;
  box-shadow: 0 3px 6px rgba(#000, 0.2);
  color: #ffffff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  margin: 24px auto 32px;
  padding: 12px 40px;
  width: auto;

  &:active,
  &:focus,
  &:hover {
    background: lighten(#5c677e, 10%);
    outline: 0;
    transition: background 0.3s ease-in-out;
  }
}